input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ced2db;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ced2db;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ced2db;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ced2db;
}

p {
    line-height: 1.3125rem;
}

.comments {
    margin-top: 2.5rem;
    margin-bottom: 5em;
    max-width: 60.75rem;
    padding: 0 1.25rem;
    width: 66%;
}

.like_button_icon_pressed {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%3Ctitle%3Elike_active_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9%2C5.7%2C5.7%2C0%2C0%2C1%2C12%2C6%2C5.7%2C5.7%2C0%2C0%2C1%2C17%2C2.9Z%22%20fill%3D%22%23ff3347%22%2F%3E%3C%2Fsvg%3E) !important;
}

.like_button_icon {
    display: inline-block;
    margin-left: 10px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
    height: 24px;
    width: 24px;
    opacity: 0.7;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    cursor: pointer;
}

.like_button_icon:hover {
    opacity: 1;
}

.like_button_count {
    display: inline-block;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    -o-transition: margin-left 100ms linear;
    transition: margin-left 100ms linear;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    margin-left: 6px;
    color: #67707a;
    margin-bottom: 3px;
}

@media screen and (max-width: 767px) {
    .comments {
        width: 100%;
    }
}


.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.comment-shadow:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-btn {
    float: right;
    border-radius: 0;
    border: 0;
}

.comment-btn:hover {
    border: 0;
}
