body {
    background-color: #282828;
    color: #fff;
}

.comment-block {
    background-color: #424242 !important;
}

input, textarea {
    background: #424242;
    /*color: #fff;*/
    /*color: #555f77;*/
}

.sidenav a {
    background: #000;
    color: #fff;
    box-shadow: none;
}

.sidenav a:hover {
    background: #424242;
}