body {
    background-color: #282828;
    color: #fff;
}

.comment-block {
    background-color: #424242 !important;
}

input, textarea {
    background: #424242;
    /*color: #fff;*/
    /*color: #555f77;*/
}

.sidenav a {
    background: #424242;
    color: #fff;
    box-shadow: none;
}

.sidenav a:hover {
    background: #808080;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #424242;
}

footer > a:hover,
footer > a:focus {
    color: #eee;
    text-decoration: none;
}

.popover {
    background-color: #424242;
}

.popover.bottom>.arrow:after {
    border-bottom-color: #424242;
}