body {
}

.shadow {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.16), 0px 4px 9px rgba(0,0,0,0.23);
}

.step-header {
    color: #888;
}

.comment-block {
    background-color: #fff;
}