/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding: 10px;
}

.shadow {
    background-color: #fff;
    box-shadow: 4px 0px 6px rgba(0,0,0,0.16), 4px 0px 9px rgba(0,0,0,0.23);
}

.navbar-toggle .icon-bar {
    background-color: gray;
}

.navbar-toggle {
    border: 1px solid buttonface;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
