body {
    padding-top: 50px;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #eee;
}

.body-content {
    padding: 10px;
}

.navbar-toggle .icon-bar {
    background-color: gray;
}

.navbar {
    transition: top 0.2s ease-in-out;
}

.navbar-hidden {
    top: -51px;
}

.navbar-toggle {
    border: 1px solid buttonface;
}

.brand-img {
    max-width: 105px;
}
.glyphicon-ok {
    color: #11da7e;
}

.glyphicon-remove {
    color: #f02454;
}

#toolbar {
    padding-top:20px;
}

.login-icon {
    padding-right: 5px;
}

.navbar-brand {
    margin-right: 10px;
}

.nav > li > a {
    color: #4b7ada;
    font-weight: 600;
}

hr {
    border-color: #ccc;
}

th {
    font-weight: 600;
}

.btn-separator {
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}

.btn-primary {
    background-color: #4b7ada;
}

label {
    font-weight: 500;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    body {
        /*overflow-x: hidden;*/
    }

    .switch-label {
        float: initial !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 15px 0 !important;
    }

    .sidenav {
        max-width: initial !important;
    }

    .steps-wrap {
        width: 100%;
    }

    .sidenav {
        display: none;
    }
}

.switch-input {
    display: none;
}

.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    margin-top: 15px;
    float: right;
    margin-right: 15px;
    padding-left: 50px;
    color: #4b7ada;
}

.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-input:checked + .switch-label:before {
    background-color: #A5D6A7;
}

.switch-input:checked + .switch-label:after {
    background-color: #4CAF50;
    transform: translate(80%, -50%);
}

.bs-textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    padding: 0;
}

.control-label {
    margin-top: 5px;
}

.sidenav {
    margin: 0 auto;
    max-width: 20%;
    position: fixed;
    right: 10%;
    top: 150px;
    z-index: 10;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.sidenav > ul {
    margin-top: 25px;
    margin-left: 35px;
}

:target::before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
}

.sidenav ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
}

.sidenav a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2.5em;
    *padding: .4em;
    margin: .5em 0;
    background: #5975D9;
    color: white;
    text-decoration: none;
    box-shadow: inset 0.5em 0 black;
    transition: box-shadow .2s;
}

.sidenav a:hover {
    box-shadow: inset 2em 0 black;
}

.step-content > img,
.step-content > p > img {
    max-width: 75%;
}

.owner-label {
    display: inline-block;
    margin-left: 10px;
}