body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Product Sans', sans-serif;
    font-weight: 500;
    background: #eee;
}

#qrCode {
    margin: 15px;
}

.body-content {
    padding: 15px;
}

.navbar-toggle .icon-bar {
    background-color: gray;
}

.navbar {
    transition: top 0.2s ease-in-out;
}

.navbar-hidden {
    top: -51px;
}

.navbar-toggle {
    border: 1px solid buttonface;
}

.brand-img {
    max-width: 105px;
}

.glyphicon-ok {
    color: #11da7e;
}

.glyphicon-remove {
    color: #f02454;
}

#toolbar {
    padding-top:20px;
}

.login-icon {
    padding-right: 5px;
}

.nav > li > a {
    color: #4b7ada;
    font-weight: 600;
}

hr {
    border-color: #ccc;
}

th {
    font-weight: 600;
}

.hover {
    cursor: pointer;
}

.table-hover > tbody > tr:hover {
    background-color: inherit;
}

.table-responsive {
    margin-top: 20px;
}

.btn-separator {
    margin: 0 10px;
}

.btn {
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.btn-primary {
    background-color: #4b7ada;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4b7ada;
}

.pager-container {
    display: flex;
    justify-content: center;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pagination > li> a {
    padding: 6px 13px;
}

label {
    font-weight: 500;
}

.dropdown-menu {
    border-radius: 8px;
}

.switch-input {
    display: none;
}

.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    margin: 15px 0 0;
    float: right;
    padding-left: 50px;
    color: #4b7ada;
}

.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-input:checked + .switch-label:before {
    background-color: #80CBC4;
}

.switch-input:checked + .switch-label:after {
    background-color: #009688;
    transform: translate(80%, -50%);
}

.bs-textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
}

.desc-img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 20px auto;
}

.step-img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 20px auto;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    padding: 0;
}

.control-label {
    margin-top: 5px;
}

fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

#rating-text {
    position: absolute;
    top: 55px;
    left: 5px;
}

.rating {
    border: none;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 2.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating-index {
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
}

.rating-index > input {
    display: none;
}

.rating-index > label:before {
    margin: 5px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.rating-index > .half:before {
    content: "\f089";
    position: absolute;
}

.rating-index > label {
    color: #ddd;
    margin-bottom: -15px;
    margin-left: -5px;
    float: right;
}

.rating-index > input:checked ~ label {
    color: #FE9102;
}

fieldset.rating-index {
    float: none;
}

.details-views {
    position: absolute;
    top: 85px;
    right: 0;
}

.details-date {
    position: absolute;
    top: 85px;
    right: 55px;
}

.details-category {
    position: absolute;
    top: 85px;
    right: 200px;
}

.mobile-nav {
    display: none;
}

.sidenav {
    margin: 0 auto;
    max-width: 20%;
    position: fixed;
    right: 10%;
    top: 195px;
    z-index: 10;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.step {
    display: none;
}
.steps-wrap {
    min-height: 90px;
}

.sidenav ol {
    counter-reset: li;
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
}

.sidenav-option {
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.sidenav a {
    position: relative;
    display: block;
    padding: .3em .5em .3em 1.5em;
    margin: .5em 0;
    background: #fff;
    color: #000;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}

.sidenav a:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.arrows-alert {
    max-width: 66%;
}

.step-content > img,
.step-content > p > img {
    max-width: 75%;
}

.owner-label {
    display: inline-block;
    margin-left: 1rem;
}

footer > a {
    color: #acb4c2;
    font-size: 10pt;
    margin-left: 5px;
}

.banner {
    margin-bottom: 15px;
    border-radius: 10px;
    height: 370px;
    transition: all ease-in-out .3s;
    background: linear-gradient(30deg, rgba(63,92,168,1) 0%, rgba(85,121,217,1) 100%);
    color: #fff;
    display: flex;
}

.banner-form {
    width: 25%;
    margin: auto;
}

.banner-inner {
    display: inline-block;
    margin: 40px 50px;
    max-width: 50%;
}

.banner-inner h2 {
    font-size: 50px;
    font-weight: 600;
}

.banner-inner p {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 600;
    max-width: 65%;
    color: #eee;
    letter-spacing: 1px;
}

.banner-inner a {
    color: #fabd1a;
}

.banner-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #415BA6;
    background-image: none;
    border: 0;
    border-radius: 30px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-weight: 600;
}

.banner-input::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

.btn-banner {
    border-radius: 30px;
    width: 100%;
    background-color: #fff;
    color: #212121;
    padding: 9px 12px;
    font-weight: 600;
}

.search-field {
    outline: none;
}

.search-field {
    font-family: inherit;
    font-size: 100%;
}

.search-field {
    border: solid 1px #ccc;
    padding: 7px 10px 7px 15px;
    width: 95px;
    margin: 7px 5px;
    border-radius: 10em;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.search-field:focus {
    width: 190px;
    border-color: #4b7ada;
    box-shadow: 0 0 4px rgba(109,207,246,.5);
}

.guide-entry {
    width: 100%;
    border-radius: 10px;
    display: inline-flex;
    margin: 1rem 0;
    position: relative;
    padding: 0 15% 0 10px;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    min-width: 220px;
}

.guide-delete {
    width: 95%;
}

.guide-img {
    max-width: 200px;
    max-height: 150px;
    border-radius: 10px;
    margin: 7px 17px 7px 7px;
}

.guide-img-div {
    margin: auto 0;
    display: table-cell;
    text-align: center;
    min-width: 224px;
}

.guide-inner {
    display: inline;
    max-width: 80%;
}

.guide-author {
    /*margin-bottom: 15px;*/
    color: #acb4c2;
}

.guide-inner p {
    margin: 15px 0 50px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.guide-inner i {
    margin-right: 3px;
}

.guide-views {
    right: 10px;
}

.guide-date {
    right: 55px;
}

.guide-info {
    position: absolute;
    bottom: 5px;
    color: #acb4c2;
    font-size: 13px;
}

.guide-header {
    margin-bottom: 0;
}

.create-btn {
    font-size: 14pt;
    margin: 0 auto 10px;
    display: table;
}

.index-side {
    margin-top: 80px;
    align-items: center;
}

#tagcloud {
    margin-bottom: 10px;
}

.category {
    display: block;
}

.md-help li {
    font-family: Consolas;
    white-space: pre-line;
}

.md-help {
    display: none;
}

#category-list {
    display: none;
}

.plus-minus {
    float: right;
    cursor: pointer;
    margin: 5px;
}

.plus-header {
    display: inline;
    margin-bottom: 5px;
    cursor: pointer;
}

.nav-tabs a:hover,
.nav-tabs a:focus {
    outline: none;
    text-decoration: none;
}

.tab {
    text-align: center;
}

.tab .nav-tabs {
    display: inline-block;
    border-bottom: none;
    position: relative;
}

.tab .nav-tabs li {
    margin-bottom: 0;
}

.tab .nav-tabs li a {
    display: block;
    padding: 20px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-weight: 700;
    color: #444;
    margin-right: 0;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a i {
    display: block;
    font-size: 40px;
    color: #00a6ff;
    margin-bottom: 15px;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover {
    border: none;
    background: transparent;
    color: inherit;
}

.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after {
    content: "";
    width: 0;
    border-top: 3px solid #00a6ff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:after {
    left: auto;
    right: 0;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after {
    width: 50%;
}

.tab .tab-content {
    padding: 20px;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ccc;
    font-size: 15px;
    /*line-height: 30px;*/
    text-align: initial;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

.outer-delete {
    position: absolute;
}

.profile-btn {
    float: right;
    margin-top: 20px;
}

.medal {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .3s ease-in-out;
}

.medal-img {
    max-height: 50px;
    margin: auto 10px;
}

.medal-inner {
    display: inline;
    padding-right: 5px;
}

.glyphicon-cog {
    margin-left: 15px;
}

.icon-shield {
    margin-left: 5px;
}

@media screen and (max-width: 991px) {
    .row {
        margin: 0;
    }

    .owner-label {
        display: block;
        margin-left: 0;
    }

    fieldset {
        position: relative;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: none;
    }

    .rating > label:before {
        font-size: 1.25em;
    }

    #rating-text {
        top: 35px;
    }

    .sidenav {
        top: 350px;
    }

    .create-fields {
        width: 100%;
        margin-bottom: 15px;
    }

    .banner {
        margin-left: 0;
        margin-right: 0;
    }

    .steps-wrap {
        width: 70%;
    }

    .details-info {
        position: initial;
        display: block;
        margin: 5px;
    }

    .index-side {
        margin-top: 30px;
    }

    .tab .nav-tabs li {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}

    .tab .nav-tabs {
        width: 100%;
    }

	.tab .nav-tabs li a,
	.tab .nav-tabs li a:hover {
		border-bottom: 1px solid #dfdfdf;
	}

	.tab .tab-content {
		border-top: none;
	}
}

@media screen and (max-width: 767px) {
    /*body {
        overflow-x: hidden;
    }*/

    .banner {
        margin-bottom: 15px;
        height: inherit;
        flex-direction: column;
    }

    .banner-inner {
        display: block;
        max-width: 100%;
    }

    .banner-form {
        width: inherit;
        margin: 0 auto 40px;
    }

    .switch-label {
        float: initial;
        margin-right: 0;
        margin-top: 0;
        margin: 15px 0;
    }

    .sidenav {
        max-width: initial;
    }

    .steps-wrap {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidenav {
        display: none;
    }

    .mobile-nav {
        display: block;
        margin: 15px;
    }

    .rating-index {
        display: none;
    }

    .guide-entry {
        flex-direction: column;
        padding: 10px;
    }

    .guide-img-div {
        width: auto;
        display: block;
    }

    .search-field {
        margin: 7px 15px;
    }

    .btn-separator {
        display: block;
        height: 15px;
    }

    .arrows-alert {
        max-width: 100%;
    }
}