body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #eee;
}

.body-content {
    padding: 15px;
}

.navbar-toggle .icon-bar {
    background-color: gray;
}

.navbar {
    transition: top 0.2s ease-in-out;
}

.navbar-hidden {
    top: -51px;
}

.navbar-toggle {
    border: 1px solid buttonface;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

    margin-top: 5px;
    float: right;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.brand-img {
    max-width: 105px;
}
.glyphicon-ok {
    color: #11da7e;
}

.glyphicon-remove {
    color: #f02454;
}

#toolbar {
    padding-top:20px;
}

.login-icon {
    padding-right: 5px;
}

.navbar-brand {
    margin-right: 10px;
}

.nav > li > a {
    color: #4b7ada;
    font-weight: 600;
}

hr {
    border-color: #ccc;
}

th {
    font-weight: 600;
}

td.hover {
    cursor: pointer;
}

.btn-separator {
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}

.btn {
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.btn-primary {
    background-color: #4b7ada;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4b7ada;
}

label {
    font-weight: 500;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    body {
        /*overflow-x: hidden;*/
    }

    .switch-label {
        float: initial !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 15px 0 !important;
    }

    .sidenav {
        max-width: initial !important;
    }

    .steps-wrap {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidenav {
        display: none;
    }

    .comments {
        width: 100%;
    }

    .mobile-nav {
        display: block !important;
        margin: 15px;
    }
}

@media screen and (max-width: 991px)
{
    .owner-label {
        display: block !important;
        margin-left: 0 !important;
    }

    fieldset {
        position: relative;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: none !important;
    }

    .rating > label:before {
        font-size: 1.25em !important;
    }

    #rating-text {
        top: 35px !important;
    }

    .sidenav {
        top: 240px !important;
    }

    .create-fields {
        width: 100% !important;
    }
}

.switch-input {
    display: none;
}

.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    margin-top: 15px;
    float: right;
    margin-right: 15px;
    padding-left: 50px;
    color: #4b7ada;
}

.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-input:checked + .switch-label:before {
    background-color: #80CBC4;
}

.switch-input:checked + .switch-label:after {
    background-color: #009688;
    transform: translate(80%, -50%);
}

.bs-textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    padding: 0;
}

.control-label {
    margin-top: 5px;
}

fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

#rating-text {
    position: absolute;
    top: 55px;
    left: 5px;
}

.rating {
    border: none;
    /*float: left;*/
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 2.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.mobile-nav {
    display: none;
}

.sidenav {
    margin: 0 auto;
    max-width: 20%;
    position: fixed;
    right: 10%;
    top: 170px;
    z-index: 10;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.step {
    display:none;
}
.steps-wrap {
    min-height: 90px;
}

.sidenav ol {
    counter-reset: li;
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
}

.sidenav-option {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.sidenav a {
    position: relative;
    display: block;
    padding: .3em .5em .3em 1.5em;
    margin: .5em 0;
    background: #fff;
    color: #000;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 50px;
}

.sidenav a:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.step-content > img,
.step-content > p > img {
    max-width: 75%;
}

.owner-label {
    display: inline-block;
    margin-left: 1rem;
}

footer > a {
    color: #acb4c2;
    font-size: 10pt;
    margin-left: 5px;
}

.banner {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    border: 1px solid #66afe9;
    border-radius: 10px;
    height: 380px;
    transition: all ease-in-out .2s;
}

.banner:hover {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px 1px rgba(102,175,233,.6);
}

.banner-form {
    width: 40%;
    float: right;
    margin: 10px;
}

.banner-inner {
    display: inline-block;
    margin: 10px;
    max-width: 50%;
}

.search-field {
    outline: none;
}

.search-field {
    font-family: inherit;
    font-size: 100%;
}

.search-field {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 95px;
    margin-top: 5px;
    float: right;
    border-radius: 10em;
    transition: all .3s ease-in-out;
}

.search-field:focus {
    width: 200px;
    background-color: #fff;
    border-color: #66CC75;
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

@media screen and (max-width: 991px) {
    .row {
        margin: 0;
    }

    .owner-label {
        display: block !important;
        margin-left: 0 !important;
    }

    fieldset {
        position: relative;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: none !important;
    }

    .rating > label:before {
        font-size: 1.25em !important;
    }

    #rating-text {
        top: 35px !important;
    }

    .sidenav {
        top: 240px !important;
    }

    .create-fields {
        width: 100% !important;
    }

    .banner {
        margin-left: 0 ;
        margin-right: 0 ;
    }
}

@media screen and (max-width: 767px) {
    body {
        /*overflow-x: hidden;*/
    }

    .banner {
        margin-bottom: 15px;
        height: 410px;
    }

    .banner-inner {
        display: block;
    }

    .banner-form {
        /*width: 100%;
        float: initial;
        padding-right: 25px;*/
        display: none;
    }

    .switch-label {
        float: initial !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin: 15px 0 !important;
    }

    .sidenav {
        max-width: initial !important;
    }

    .steps-wrap {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidenav {
        display: none;
    }

    .comments {
        width: 100%;
    }

    .mobile-nav {
        display: block !important;
        margin: 15px;
    }
}