.tags {
    font: inherit;
    font-weight: normal;
    font-style: normal;
    display: block;
    padding: 0.2em 0.25em;
    cursor: text;
    overflow: hidden;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.details-tags {
    display: inline-block;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: #fff;
}

.tags span {
	display: block;
	float: left;
	position: relative;
}

.details-tags span {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.tags .tag,
.tags-input {
    background: #2196f3;
    margin: 0 .25em .25em 0;
    padding: .25em .5em;
    min-height: 1.25em;
    cursor: default;
    border-radius: 4px;
}

.details-tags .tag,
.tags-input {
    cursor: pointer;
}

.details-tags .tag:hover {
    background: #64b5f6;
}

.tags .tag:before {
	content: attr(data-tag)
}

.tags:after,
.tags-view:after {
	content: "";
	display: table;
	clear: both;
}

.tags a {
	display: inline-block;
	margin: 0 0 0 .5em;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.tags a:before {
	content: '\00D7'
}

.details-tags a {
    display: initial;
    margin: 0;
    color: inherit;
}

.details-tags a:before {
    content: none;
}

.tags .tags-view {
	float: none
}

.tags .tags-input {
	float: none;
	background: none;
	cursor: inherit;
	min-width: 1em;
}

.tags-input span {
	float: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	padding: inherit;
}

.tags-input span+span {
	position: static;
	padding: 0;
	opacity: .5;
}

.tags .tag+.tags-input {
	float: left
}

.tags .tag+.tags-input span+span {
	display: none
}

.tags-input span:focus+span {
	opacity: .4
}

.tags-output {
    display: none;
}