@model GuideHaven.Models.Guide

@{
    ViewData["Title"] = "Edit";
    int index = 0;
}

<script src="~/js/step_functions.js"></script>
<script src="~/js/he.js"></script>
<script>var index = 0, visual_index = 0;</script>

<h2>Edit</h2>

<h4>Guide</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  accept-charset="UTF-8 Cyrillic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuideId" />
            <div class="form-group">
                <label asp-for="GuideName" class="control-label"></label>
                <input asp-for="GuideName" class="form-control" />
                <span asp-validation-for="GuideName" class="text-danger"></span>
                <div id="step_holder" class="form-group">
                    @for (int i = 0; i < Model.GuideSteps.Count; i++)
                    {
                        <script>
                            document.getElementById("step_holder").insertAdjacentHTML('beforeend', '<div id="step' + (index + 1) + '" style="position:relative">'
	                        + '<hr/><label id="step_count_' + index + '" class="control-label" style="display: block">Step ' + (visual_index + 1) + '</label>'
	                        + '<label class="control-label" for="GuideSteps_' + index + '__Header">Header</label>'
	                        + '<input type="text" id="GuideSteps_' + index + '__Header" name="GuideSteps[' + index + '].Header" class="form-control">'
	                        + '<label class="control-label" for="GuideSteps_' + index + '__Content">Content</label>'
	                        + '<textarea id="GuideSteps_' + index + '__Content" name="GuideSteps[' + index + '].Content" class="bs-textarea"></textarea>'
	                        + '<button type="button" class="btn btn-link delete-btn" value="Delete" onclick="deleteStep(' + (index + 1) + ')">'
                                + '<span class="glyphicon glyphicon-remove"></span></button></div > ');
                            document.getElementById('GuideSteps_' + index + '__Header').value = he.decode('@Model.GuideSteps[index].Header');
                            document.getElementById('GuideSteps_' + index + '__Content').value = he.decode('@Model.GuideSteps[index].Content');
                            index++;
                            visual_index++;
                        </script>
                        index++;
                    }
                    <script>
                        index--;
                        visual_index--;
                    </script>
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success" value="Create step" style="margin-bottom: 10px" onclick="createStep()">Create step</button>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div >
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
