@{
    ViewData["Title"] = Localizer["About"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@ViewData["Title"]</h2>

<p>Smth smth about this site, will write later I think</p>
