@{
    ViewData["Title"] = Localizer["About"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@ViewData["Title"]</h2>

<p>Smth smth about authors, will write later</p>
