@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using GuideHaven.Areas.Identity.Data;
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> userManager
@model IEnumerable<GuideHaven.Models.Guide>
@{
    ViewData["Title"] = Localizer["Title"];
}

@await Html.PartialAsync("_IndexRegisterPartial", new GuideHaven.Controllers.HomeController.InputModel())

<div class="row">
    <div class="col-md-10">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#latest" aria-controls="latest" role="tab" data-toggle="tab">@Localizer["LatestGuides"]</a></li>
                <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">@Localizer["PopularGuides"]</a></li>
                <li role="presentation"><a href="#rated" aria-controls="rated" role="tab" data-toggle="tab">@Localizer["MostRatedGuides"]</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active guides-wrap" id="latest">
                    @await  Html.PartialAsync("_GuidesListPartial", new ViewDataDictionary(this.ViewData) { { "mode", "l"} })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="popular">
                    @await Html.PartialAsync("_GuidesListPartial", 
                        Model.OrderByDescending(x => x.Views).ThenByDescending(x => x.Comments.Count), 
                        new ViewDataDictionary(this.ViewData) { { "mode", "p" } }
                   )
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rated">
                    @await Html.PartialAsync("_GuidesListPartial", 
                        Model.OrderByDescending(x => x.GetRating()).ThenByDescending(x => x.Ratings.Count), 
                        new ViewDataDictionary(this.ViewData) { { "mode", "r" } }
                   )
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2 index-side">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Create" asp-controller="Guide" class="btn btn-primary create-btn">@Localizer["CreateGuide"]</a>
        }
    </div>
</div>