@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<GuideHaven.Models.Guide>
@{
    ViewData["Title"] = Localizer["Title"];
}

@await  Html.PartialAsync("_IndexRegisterPartial", new GuideHaven.Controllers.HomeController.InputModel())

<div class="row">
    <div class="col-md-10">
        <div class="guides-wrap">
            <h2>Latest Guides</h2>
            @foreach (var item in Model)
            {
                <a href="~/Guide/Details/@item.GuideId" style="color: inherit">
                    <div class="guide-entry">
                        <img src="https://dummyimage.com/200x150/000/fff" class="guide-image" />
                        <div style="display: inline">
                            <h4>@item.GuideName</h4>
                            <p>@item.Description</p>
                            <p>Rating: 
                                @if (item.Ratings != null)
                                { 
                                    @item.GetRating()
                                } stars
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-md-2" style="height: 800px; background: #424242"></div>
</div>