@{
    ViewData["Title"] = Localizer["Title"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features
@inject IViewLocalizer Localizer

@*@if (HttpContext.Request.Cookies["banner"] == "1")
{


}*@
@*<div style="background: #eb0c0c; height: 200px;"></div>*@
