@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model ConfirmEmailModel
@{
    ViewData["Title"] = Localizer["ConfEmail"];
}

<h2>@Localizer["ConfSuccess"]</h2>
<div>
    <script>setTimeout(function () { location.href = './Login/'; }, 5000);</script>
    <p>
        @Localizer["TyPart1"]<br />
        @Localizer["TyPart2"] <a href="~/Identity/Account/Login/">@Localizer["ClickHere"]</a>
    </p>
</div>
