@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["ForgotPassConf"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["PlsCheckEmail"]
</p>

