@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model LogoutModel
@{
    ViewData["Title"] = Localizer["LogOut"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["LogOutSuccess"]</p>
</header>