@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["ResetPassConf"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["PassResetPt1"] <a asp-page="./Login">@Localizer["PassResetPt2"]</a>.
</p>
